.homeContainer {
  display: flex;
  justify-content: center;
  max-width: 1120px;
  min-height: 800px;
  margin: 0 auto;
  padding: 0 2rem 4rem;

  @media (max-width: 720px) {
    flex-direction: column;
  }

  .homeHeroContent {
    flex: 50%;
    margin-top: 9rem;

    @media (max-width: 720px) {
      margin-top: 6rem;
    }

    small {
      color: var(--clr-txt-light);
      font-size: 1rem;
    }

    h1 {
      padding-right: 1rem;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 1px;
    }

    span {
      display: block;
      color: var(--clr-txt-light);
      font-weight: 300;
    }

    .btnPrimary {
      display: inline-block;
      height: 3rem;
      margin-top: 3rem;
      padding: 0 1.2rem;
      border-radius: 0.4rem;
      border: 1px solid transparent;
      background: var(--clr-acc);
      color: var(--clr-txt-btn);
      line-height: 3rem;
      transition: all 0.2s;

      &:hover {
        border: 1px solid var(--clr-acc-alt);
        background: var(--clr-bg);
        color: var(--clr-acc-alt);
      }
    }

    .btnSecondaryOutline {
      display: inline-block;
      height: 3rem;
      margin-left: 1rem;
      padding: 0 1.2rem;
      border-radius: 0.4rem;
      border: 1px solid var(--clr-acc-alt);
      background: var(--clr-bg);
      color: var(--clr-acc-alt);
      line-height: 3rem;
      transition: all 0.2s;

      &:hover {
        border: 1px solid transparent;
        background: var(--clr-acc-alt);
        color: var(--clr-txt);
      }
    }
  }

  .homeAboutContent {
    flex: 50%;
    margin-top: 5rem;

    h2 {
      position: relative;
      color: #4c4c4c;
      overflow: hidden;

      &::after {
        content: '';
        position: absolute;
        bottom: calc(50% - 0.5px);
        width: 100%;
        height: 1px;
        margin-left: 1rem;
        background: #4c4c4c;
      }
    }

    p {
      margin-top: 1.5rem;
      margin-left: 1rem;
      font-weight: 300;
      line-height: 2;

      strong {
        color: var(--clr-txt-acc);
      }

      @media (max-width: 720px) {
        margin-left: 0;
      }
    }
  }
}
