.projectsContainer {
  padding: 5rem 0;
  background: var(--clr-bg-alt);
  color: var(--clr-txt-alt);
}

.projectsContent {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 1rem;

  h1 {
    position: relative;
    color: var(--clr-accent);
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: calc(50% - 0.5px);
      width: 100%;
      height: 1px;
      margin-left: 1rem;
      background: rgba(95, 95, 95, 0.5);
    }
  }

  .btnPrimary {
    display: inline-block;
    height: 3rem;
    margin-top: 3rem;
    padding: 0 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    background: var(--clr-acc);
    color: var(--clr-txt-btn);
    font-weight: 600;
    line-height: 3rem;
    transition: all 0.2s;

    &:hover {
      border: 1px solid var(--clr-acc);
      background: var(--clr-bg-alt);
      color: var(--clr-acc);
    }
  }
}

.projectsCollection {
  margin-top: 4rem;

  .projectItem {
    display: flex;

    & + .projectItem {
      margin-top: 4rem;
    }

    @media (max-width: 720px) {
      flex-direction: column;
    }

    .imageBox {
      flex: 50%;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -5px;
        bottom: -5px;
        width: 100%;
        height: 100%;
        background: var(--clr-acc-alt);
      }

      img {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .textBox {
      flex: 50%;
      margin-left: 1rem;

      @media (max-width: 720px) {
        margin-left: 0;
        margin-top: 1rem;
      }

      .small {
        margin-right: 0.5rem;
        font-size: 0.9rem;
        font-weight: 600;
      }

      .title {
        display: flex;

        h3 {
          display: flex;
          padding: 0.25rem 0.5rem;
          border: 1px solid black;
          background: #fff;
        }
      }

      p {
        display: flex;
        margin-top: 1rem;
        font-weight: 400;
        line-height: 1.75;
      }

      .links {
        display: flex;
        margin-top: 1rem;
      }

      svg {
        display: flex;
        margin-right: 0.5rem;
        color: #000;
        font-size: 2rem;
        transition: color 0.2s;

        &:hover {
          color: var(--clr-acc-alt);
        }
      }
    }
  }
}
