.footerContent {
  display: flex;
  justify-content: center;
  background: var(--clr-bg);
  height: var(--h-footer);

  small {
    color: var(--clr-txt-light);
    font-weight: 300;
    line-height: var(--h-footer);
  }
}
